# .env - Optional überschreibt Script-Defaults
# Serial Ports
OPTO_PORT=/dev/ttyUSB0
VITOCONNECT_PORT=/dev/ttyAMA0
VS2_TIMEOUT=120

# MQTT
MQTT_BROKER=192.168.111.55:1883
MQTT_USER=mqtt-vito:vito
MQTT_LOGGING=true

# MQTT Topics
MQTT_TOPIC=Vito
MQTT_LISTEN=Vito/cmnd
MQTT_RESPOND=Vito/resp
MQTT_FSTR="{dpname}"
MQTT_RETAIN=false
MQTT_NO_REDUNDANT=false

# TCP/IP
TCPIP_PORT=65234

# Timing
FULLRAW_EOT_TIME=0.05
FULLRAW_TIMEOUT=2
OL_BREATH=0.1

# Logging
LOG_VITOCONNECT=true
SHOW_OPTO_RX=true
VICONN_TO_MQTT=false
NO_LOGGER_FILE=true

# Formatting
MAX_DECIMALS=4
DATA_HEX_FORMAT=02x
RESP_ADDR_FORMAT=x

# Viessdata
WRITE_VIESS_DATA_CSV=true
VIESS_DATA_CSV_PATH=/home/pi/viessdata.csv
BUFFER_TO_WRITE=60
DEC_SEPARATOR=,

# Plugins
# Comma separated list of name,module,function,interval,...
PLUGINS="energy:wo1c_energy:read_energy:15,info:osinfo:get_osinfo:20"

# Polling
POLL_INTERVAL=4
# optional extension module or poll_list. name of the ".py" modules , optional with relativ path; if unset, use settings_ini.poll_items
POLL_ITEM_MODULE=ha_shared_config
 